<form class='w-50 m-auto my-5'>
  <div class='mb-3'>
    <label for='email' class='form-label'>email</label>
    <input type='email' class='form-control' id='email' aria-describedby='emailHelp' />
  </div>
  <div class='mb-3'>
    <label for='password' class='form-label'>password</label>
    <input type='password' class='form-control' id='password' />
  </div>
  <button id='login' type='button' class='w-100 btn btn-danger mt-3'>Loggin</button>
</form>

<script src="/scripts/login.js"></script>