<form class='w-50 m-auto my-5'>
<div class='mb-3'></div>
   <label for="category" class='form-label'>category</label>
        <select id="category" class='form-label'>
           <option value="opcion">selecciona una categoria</option>
            <option value="remeras">remeras</option>
            <option value="pantalones">pantalones</option>
            <option value="accesorios">accesorios</option>
        </select>
</div>

  <div class='mb-3'>
    <label for='title' class='form-label'>title</label>
    <input type='email' class='form-control' id='title' aria-describedby='emailHelp' />
  </div>
  <div class='mb-3'>
    <label for='photo' class='form-label'>Photo</label>
    <input type='text' class='form-control' id='photo' />
  </div>
  <div class='mb-3'>
    <label for='price' class='form-label'>price</label>
    <input type='number' class='form-control' id='price' />
  </div>
  <div class='mb-3'>
    <label for='stock' class='form-label'>stock</label>
    <input type='text' class='form-control' id='stock' />
  </div>
  <button type='button' class='btn btn-primary' id='create'>Submit</button>
</form>
<script src='/scripts/form.js'></script>