<form class='w-50 m-auto my-5'>
  <div class='mb-3'>
    <label for='product' class='form-label'>product</label>
    <input type='email' class='form-control' id='title' aria-describedby='emailHelp' />
  </div>
  <div class='mb-3'>
    <label for='cuantity' class='form-label'>cuantity</label>
    <input type='number' class='form-control' id='price' />
  </div>
  <div class='mb-3'>
    <label for='user' class='form-label'>user</label>
    <input type='text' class='form-control' id='user' />
  </div>
  <button type='button' class='btn btn-primary' id='create'>Submit</button>
</form>
<script src='/scripts/form.js'></script>