<form class="w-50 m-auto my-5">
  <div class="mb-3">
    <label for="exampleInputEmail1" class="form-label">name</label>
    <input type="email" class="form-control" id="exampleInputEmail1" aria-describedby="emailHelp">
  </div>
  <div class="mb-3">
    <label for="exampleInputPassword1" class="form-label">lastname</label>
    <input type="text" class="form-control" id="exampleInputPassword1">
  </div>
   <div class="mb-3">
    <label for="exampleInputPassword1" class="form-label">Email</label>
    <input type="number" class="form-control" id="exampleInputPassword1">
  </div>
   <div class="mb-3">
    <label for="exampleInputPassword1" class="form-label">password</label>
    <input type="text" class="form-control" id="exampleInputPassword1">
  </div>
     <div class="mb-3">
    <label for="exampleInputPassword1" class="form-label">date</label>
    <input type="date" class="form-control" id="exampleInputPassword1">
  </div>
  </div>
  <button type="submit" class="btn btn-primary">Submit</button>
</form>
