<form class='w-50 m-auto my-5'>
  <div class='mb-3'>
    <label for='email' class='form-label'>email</label>
    <input type='email' class='form-control' id='email' aria-describedby='emailHelp' />
  </div>
  <div class='mb-3'>
    <label for='password' class='form-label'>verify code</label>
    <input type='text' class='form-control' id='verifyCode' />
  </div>
  <button id='verify' type='button' class='w-100 btn btn-danger mt-3'>verify</button>
</form>

<script src="/scripts/verify.js"></script>